* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
}

/* Header */
header {
    background-color: #222;
    color: white;
    padding: 20px;
}

nav {
    background-color: #333;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.6rem;
    margin: 0;
    flex-wrap: wrap;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    display: inline-block;
}
nav ul li a:hover,
nav ul li a.active {
    text-decoration: underline;
} 

/* Contact page */
.contact {
    max-width: 500px;
    margin: 40px auto;
    background: white;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #111;
    color: white;
    border: none;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

